body {
  background-color: rgb(35, 55, 146);
  background: none;
}

/* Navbar */

.navbar {
  background-color: transparent;
}
.navbar.scrolled {
  background-color:rgb(27, 49, 144);
  transition: all 1s ease-out;
}

.dropdown-toggle {
  color: rgb(199, 199, 199);
}
.dropdown-toggle:hover {
  color: white;
}



.nav-topic {
  color: rgb(199, 199, 199);
}
.nav-topic:hover {
  color: white;
}